<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2> 
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large"><b>Software Community.  Driven by you, supported by YorkDevelopers.</b>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-4 col-lg-offset-2">
                    <p class="large">York.Developers provide coding meetups for Developers based in (and around) York.  We are a group of dedicated software professionals who lead by example and meet often to share knowledge and experiences in software engineering.</p>
                </div>
                <div class="col-lg-4">
                    <p class="large">We decided that we wanted to enable more Software Developers in York to share our growth as a team and provide the one place you need to see what is happening in York - right now.</p>
                </div>

            </div>
        </div>
    </section>