<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2> 
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large"><b>Tech Community. Driven by you, supported by YorkDevelopers.</b>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-12 text-center">
                    <p class="large">
                        YorkDevelopers aim to advance education for public benefit to the IT and the Software Engineering sector for all age groups.
                    </p>
                    <p class="large">
                        We support tech non-profit groups who have a similar mission and values and help promote their efforts to a wider audience in the City of York and throughout the Yorkshire region. 
                        We are a group of dedicated software and IT professionals who lead by example and meet often to share knowledge and experiences.
                    </p>
                    <p class="large">
                        We believe that like-minded individuals in tech can grow community centred around a platform, skill or methodology.
                    </p>
                    <p class="large">
                        We run many <a href="/#meetups" class="standard-link">meetups</a> and we are lead organisers of <a href="https://yorktechfest.github.io/" class="standard-link">YorkTechFest 2019</a>.
                    </p>
                    <a href="https://yorktechfest.github.io/">
                        <img src="/img/yorktechfest_2019_logo.jpg" class="img-rounded img-responsive img-centered" alt="YorkTechFest" style="border-radius: 10px;height:170px;">
                    </a>
                    <p class="large">
                        Donate to our <a href="https://www.gofundme.com/f/yorktechfest-2019" class="standard-link">crowdfund call</a>.
                    </p>
                    <p class="large">
                        Read about the success of <a href="/yorktechfest2018" class="standard-link">YorkTechFest 2018</a>.
                    </p>
                </div>
            </div>
        
        </div>
    </section>