<div class="col-sm-12 meetups-item">
    <div class="caption">
        <div>
            {{ post.author }}
        </div>
        <div>
            @{{ post.author-twitter }}
        </div>
        <div>
            {{ post.author-linkedin }}
        </div>
        <div>
            {{ post.title }}
        </div>
        <div>
            {{ post.content }}
        </div>
    </div>
    <img src="{{ site.baseurl }}/{{ post.img }}" class="img-rounded img-responsive" alt="">
</div>
                   
            