<!-- Counters Section -->
<section class="counters_up" id="counters-up">
        <div class="container">

            <div class="row">
                <div class="col-md-3 col-sm-5 counters-up-item" style="text-align:center">  
                    <h1><span class="counter">{{site.data.Counter.meetups_2017}}</span></h1><br>delivered last year
                </div>
                <div class="col-md-3 col-sm-5 counters-up-item" style="text-align:center">  
                    <h1><span class="counter">{{site.data.Counter.meetups_2018}}</span></h1><br>delivered this year
                </div>
                <div class="col-md-3 col-sm-5 counters-up-item" style="text-align:center">
                        <h1><span class="counter">{{site.data.Counter.meetups_this_month}}</span></h1><br>events this month
                </div>
                <div class="col-md-3 col-sm-5 counters-up-item" style="text-align:center">
                    <h1><span class="counter">{{site.data.Counter.meetups_this_week}}</span></h1><br>events this week
                </div>
            </div>
        </div>
    </div>
</section>