<!-- Counters Section -->
<section class="counters_up" id="counters-up">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Our events in numbers</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-5 counters-up-item" style="text-align:center">  
                    <h1><span class="counter">140</span></h1><br>delivered last year
                </div>
                <div class="col-md-3 col-sm-5 counters-up-item" style="text-align:center">  
                    <h1><span class="counter">38</span></h1><br>delivered this year
                </div>
                <div class="col-md-3 col-sm-5 counters-up-item" style="text-align:center">
                        <h1><span class="counter">6</span></h1><br>events this month
                </div>
                <div class="col-md-3 col-sm-5 counters-up-item" style="text-align:center">
                    <h1><span class="counter">3</span></h1><br>events this week
                </div>
            </div>
        </div>
    </div>
</section>