{% assign teaser = event.logo %}

{% if event.id %}
  {% assign title = event.name | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = event.name %}
{% endif %}

{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}

<section class="events-{{thecycle}}" id="events">

  <div class="outer-div" style="text-align:center" id="navcontainer-{{thecycle}}">
    <div class="inner-div" id="{{ event.starts | date: "%B" }}">
    
      <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
        <ul>
            {% if teaser %}
              <li>
                <div class="event_image_right">
                <img src=
                  {% if teaser contains "://" %}
                    "{{ teaser }}"
                  {% else %}
                    "{{ teaser | absolute_url }}"
                  {% endif %}
                  alt="" style="width:100px;height: auto;">
              </div>
            </li>
          {% endif %}
        
          <li>
            <h5 class="archive__item-title" itemprop="headline">
              {% if event.url %}
                <a href="{{ event.url }}">{{ title }}</a>
              {% else %}
                <a href="{{ event.url | absolute_url }}" rel="permalink">{{ title }}</a>
              {% endif %}
            </h5>
          </li>

          <li>
            <h5>
            {{ event.starts | date: "%B %d, %Y" }}<br/>
            {{ event.venue }}
            </h5>
            {% if event.excerpt %}<p itemprop="description">{{ event.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
            {% if event.description %}<p itemprop="description" class="small-{{thecycle}}">{{ event.description | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
          </li>
        </ul>
      </article>

      <hr class="star-events-{{thecycle}}">

    </div>
  </div>

</section>