<!-- Footer -->
<footer class="text-center">
   
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-12">
                    <h3>Our web presence...</h3>
                    <ul class="list-inline">
                        <img src="https://slackin-yorkdevelopers.herokuapp.com/badge.svg">
                        {% if site.contact_email_address %}
                        <li>    
                            <a href="mailto:code@yorkdevelopers.org" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope"></i></a>
                        </li>
                        {% endif %}
                        {% if site.facebook_username %}
                        <li>
                            <a href="https://www.facebook.com/{{ site.facebook_username }}" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        {% endif %}
                        {% if site.twitter_username %}
                        <li>
                            <a href="https://twitter.com/{{ site.twitter_username }}" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        {% endif %}
                        {% if site.github_username %}
                        <li>
                            <a href="https://github.com/{{ site.github_username }}" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                        </li>
                        {% endif %}
                        {% if site.instagram_username %}
                        <li>
                            <a href="https://www.instagram.com/{{ site.instagram_username }}" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                        </li>
                        {% endif %}
                        {% if site.stackoverflow_url %}
                        <li>
							<a href="{{ site.stackoverflow_url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-stack-overflow"></i></a>
                        </li>
                        {% endif %}
                        {% if site.googleplus_username %}
                        <li>
							<a href="https://plus.google.com/{{ site.googleplus_username }}" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        {% endif %}
                        {% if site.skype_username %}
                        <li>
							<a href="skype:{{ site.skype_username }}?call" class="btn-social btn-outline"><i class="fa fa-fw fa-skype"></i></a>
                        </li>
                        {% endif %}
                        {% if site.linkedin_url %}
                        <li>
							<a href="{{ site.linkedin_url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-missionstatement">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">

                    <p class="tiny">York Developers support, develop and encourage a community of Software Developers in (and around) the City of York.  We promote the values of learning and collaboration, helping to develop individuals and groups.</p>
                        
                    <p class="tiny">We focus on the progression of people, who we hope will assist others in their learning journey.</p>

                    <p class="tiny">We believe this empowerment of others will support the need for technological and personal advancement in a wider context.  We provide the framework for those involved to determine a goal and drive towards it through innovation and collaboration.</p>

                    <p class="tiny">We are a non-profit organisation.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; YorkDevelopers.org {{ site.time | date: "%Y" }}
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
