{% for post in site.posts %}
{% if post.categories contains 'Post' or post.categories contains 'Meetup' %}

<div class="meetups-modal modal fade" id="{{ post.modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="our_meetups_detail">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <div class="modal-content-center">
                            <h3>{{ post.title }}</h3>
                            <hr class="star-primary">
                            <img src="{{ site.baseurl }}/{{ post.img }}" class="img-rounded img-responsive img-centered" alt="{{ post.title }}" style="height:200px;width: auto;">
                            {{ post.content }}
                            {% if post.categories contains 'Post' %}
                            
                                <ul class="list-inline item-details">
                                    <li>Date:
                                        <strong>{{ post.date | date: "%-d %B %Y" }}
                                            </strong>
                                    </li>
                                </ul>
                            {% endif %}
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}