<!-- Portfolio Grid Section -->
    <section class="our_posts" id="posts">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Latest News</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">

                {% assign the_value = 0 %}

                {% for post in site.posts %}
                    {% if post.categories contains 'Post' %}
                        {% capture the_value %}{{ the_value | plus:1 }}{% endcapture %}
                        {% if the_value == '1' or the_value == '2' or the_value == '3' %}
                            <div class="col-sm-4 col-md-4 col-lg-4 posts-item">
                                {% include a_post.html %}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                
            </div>
            <div class="row">
                <a href="{{ domain }}/news" class="posts-item">READ MORE....</a>
            </div>
        </div>
    </section>