<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="page-top" class="index">

    {% include navbar.html %}

    <section class="yorktechfest2018">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br>
                    <br>
                    <h2>YorkTechFest 2018</h2>
                    <hr class="star-light">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <img src="/img/YorkTechFest_logo.png" class="img-rounded img-responsive img-centered" alt="YorkTechFest" style="border-radius: 10px;height:170px;">

                        <br><br>
                        <p class="large">
                            <h3>The Showcase of Tech Non-Profit Communities</h3>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-sm-6">
                    <p>
                        The first <a href="https://www.yorkdevelopers.org/yorktechfest" class="standard-link">YorkTechFest 2018</a> event was delivered on the evening of November 13th 2018.  
                        Over 80 people attended to listen to 10 speakers delivering tech content.  The event was featured as part of <a href="http://www.yorkbusinessweek.co.uk/programme/york-techfest/" class="standard-link">York Business Week 2018</a>, coordinated by <a href="http://www.makeityork.com/" class="standard-link">MakeItYork</a>.
                    </p>
                    <p>
                        The theme of the YorkTechFest event is “A Showcase Of Tech Non-Profit Communities” aimed at providing representation of the growing tech non-profit community in the City of York.  
                    </p>    
                </div>
                <div class="col-md-4 col-sm-6">
                    <img src="/img/yorktechfest/yorktechfest-event-5.jpg" class="img-rounded img-responsive img-centered" alt="YorkTechFest" style="height:150px; width:auto;">
                </div>               
            </div>

            <div class="row">
                <div class="col-lg-12">
                    &nbsp;
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <img src="/img/yorktechfest/yorktechfest-event-1.jpg" class="img-rounded img-responsive img-centered" alt="YorkTechFest" style="height:195px; width:auto;">
                    <br>
                </div>
                <div class="col-md-8 col-sm-6">
                    <p class="large" style="text-transform: uppercase;">Bringing Communities Together</p>
                    <p>
                        There was representation of many non-profit tech groups, for example 
                        <a href="https://www.meetup.com/York-Code-Dojo/" class="standard-link">York Code Dojo</a>, 
                        <a href="https://www.meetup.com/agileYork/" class="standard-link">Agile York</a>, 
                        <a href="https://twitter.com/frontendyork" class="standard-link">Front End York</a>, 
                        <a href="https://www.facebook.com/groups/YorkGameDevelopers/" class="standard-link">York Game Developers</a>, 
                        <a href="http://labs.exploreyork.org.uk/" class="standard-link">Explore Labs</a>, 
                        <a href="https://www.guildofmediaarts.com/" class="standard-link">York Guild of Media Arts</a>, 
                        <a href="https://york.hackspace.org.uk" class="standard-link">York Hack Space</a>
                         and more…
                    </p>
                    <p>
                        This annual event is aimed at members of existing communities, new members and to promote cross pollination of innovation between existing groups.          
                    </p>
                    <p>
                        To deliver this showcase, YorkDevelopers engaged with <a href="http://www.digitalyork.org/" class="standard-link">York Digital City</a> (City of York Council), Make It York and <a href="https://www.yorksj.ac.uk/schools/art-design-computer-science/" class="standard-link">York St. John University, School of Art, Design and Computer Science</a>.
                    </p>
                </div>               
            </div>

            <div class="row">
                <div class="col-lg-12">
                    &nbsp;
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-8 col-sm-6">
                    <p class="large" style="text-transform: uppercase;">The first event of its kind</p>
                    <p>
                        The volunteer speakers were from the existing tech meetups and partners organisations.  Subjects included “Web accessibility: This is for everyone”, “A Four Step Process to Build Scalable Technology Ventures” and “A Sense of Community within Agile” to name a few.        
                    </p>
                    <p>
                        We believe this event was the first of its kind in York to provide representation for the non-profit tech community.  We received very positive feedback on the evening and on social media after the event.  We intend to deliver another event in November 2019.       
                    </p>
                </div>
                <div class="col-md-4 col-sm-6">
                    <img src="/img/yorktechfest/yorktechfest-event-3.jpg" class="img-rounded img-responsive img-centered" alt="YorkTechFest" style="height:175px; width:auto;">
                </div>               
            </div>

            <div class="row">
                <div class="col-lg-12">
                    &nbsp;
                </div>
            </div>
    
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        You do not have to wait for YorkTechFest 2019 to learn about tech and meet like minded people.  Visit <a href="https://www.yorkdevelopers.org/#meetups" class="standard-link">here</a> for more information on free events happening in the City of York.          
                    </p>
                </div>
            </div>
            
        </div>
    </section>

    {% include footer.html %}

    {% include javascript.html %}

    <script id="twitter-wjs" type="text/javascript" async defer src="//platform.twitter.com/widgets.js"></script>

  </body>
</html>